---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Heading 1 Here</h1>
  <p class="doc">
    <img src="images/middleman.png">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
